@import "../../component/emptyPage.less";

page {
  height: 100%;
}

.container {
  height: 100%;
  overflow: hidden;
  .home-header {
    .home-header-bg {
      position: fixed;
      z-index: -1;
    }
    .home-header-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: center;
      width: 100%;
      .userinfo-avatar {
        width: 160rpx;
        height: 160rpx;
        margin: 20rpx;
        border-radius: 50%;
        background-color: #ccc;
      }
      .home-title {
        color: red;
      }
      .stat-wrap {
        width: 100%;
      }
      .stat-detail-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .vertical-line {
          background-color: white;
          height: 60px;
          width: 1px;
        }
        .stat-one-wrap {
          display: flex;
          flex-direction: column;
          flex:1;
        }
      }
      .stat-title {
        color: #8c2bff;
        font-size: 15px;
        padding-bottom: 10px;
        text-align: center;
      }
      .stat-weight {
        color: #0000ed;
        font-size: 20px;
        text-align: center;
      }
      .no-data {
        font-size: 20px;
        color: #666;
        font-family: "STKaiti";
        text-align: center;
        width: 100%;
      }
    }
  }
  .content-wrap {
    .record-day {
      background-color: #f0f0f0;
      font-size: 12px;
      font-style: italic;
      padding-left: 15px;
      height: 20px;
      line-height: 20px;
    }
    .record {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      line-height: 50px;
      border-bottom: 1px solid #cccccc;
      .record-time {
        font-size: 15px;
        color: #666;
        padding-left: 15px;
      }
      .record-weight {
        font-size: 17px;
        color: #333;
      }
      .record-delta-wrap {
        display: flex;
        flex-direction: row;
        width: 70px;
        .record-delta {
          font-size: 14px;
          font-style: italic;
          padding-right: 15px;
        }
        .increase {
          color: green;
        }
        .decrease {
          color: red;
        }
        .increase-icon {
          width: 12px;
          height: 16px;
          margin-right: 4px;
          margin-top: 17px;
        }
      }
    }
  }
}