page {
  height: 100%;
}

.container {
  height: 100%;
  overflow: hidden;
  .content-wrap {
    margin-top: -10rpx;
    .record-day {
      background-color: #f0f0f0;
      font-size: 12px;
      font-style: italic;
      padding-left: 15px;
      height: 20px;
      line-height: 20px;
    }
    .record {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      border-bottom: 1px solid #cccccc;
      .record-time {
        font-size: 15px;
        color: #666;
        padding-left: 15px;
      }
      .record-weight {
        font-size: 17px;
        color: #333;
      }
      .record-delta-wrap {
        display: flex;
        flex-direction: row;
        width: 50px;
        .record-delta {
          font-size: 14px;
          font-style: italic;
          padding-right: 15px;
        }
        .increase {
          color: green;
        }
        .decrease {
          color: red;
        }
        .increase-icon {
          width: 10px;
          height: 15px;
          margin-right: 4px;
        }
      }
    }
  }
}